.text-gradient {
  width: 25.3125rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2.88888rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.05775rem;
  background: linear-gradient(73deg, #180936 37.28%, #0360F0 70.75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 8.12rem;
  top: 23.44rem;
}

.mybank-text {
  color: var(--Primary-Blue, #003049);
  font-family: Poppins;
  font-size: 2.36225rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04725rem;
  position: absolute;
  left: 11.86rem;
  top: 6.15rem;
  position: relative;
  z-index: 1;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #F7FAFD 30.73%, rgba(235, 242, 253, 0.78) 58.55%, rgba(214, 230, 254, 0.00) 100%);
  opacity: 1;
  z-index: -1;
}

.svg-icon {
  width: 2.93919rem;
  height: 4.54744rem;
  flex-shrink: 0;
  fill: #0360F0;
  position: relative;
  z-index: 1;
}

#AcessFormText {
  color: #0360F0;
  text-align: center;
  font-family: Poppins;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04375rem;
  position: relative;
  left: 48.7rem;
  top: -25rem;
}

.signUpText {
  color: #0360F0;
  font-family: Poppins;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.signUpBox {
  display: flex;
  height: 4.125rem;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border: none;
  border-bottom: #0360F0;
  background-color: rgba(255, 255, 255, 0);
}

.active {
  border-bottom: 2px solid #0360F0;
  font-weight: 700;
}

#AcessForm {
  width: 28.25rem;
  height: 38.8125rem;
  flex-shrink: 0;
  border-radius: 1.1875rem;
  background: rgba(255, 255, 255, 0.70);
  position: relative;
  left: 77rem;
  top: 10.88rem;
}

.DetailsBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

.input-component {
  width: 18rem;
  height: 2.5rem;
  flex-shrink: 0;
  fill: var(--White, #FFF);
  stroke-width: 1.5px;
  stroke: #8F9CA3;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.label-text {
  color: #8F9CA3;
  leading-trim: both;
  text-edge: cap;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  margin-bottom: 0.1rem;
}

.blue-rec {
  display: flex;
  width: 22.4375rem;
  height: 3.875rem;
  padding: 0.875rem 6.8125rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: none;
  background: #0360F0;
  margin-left: -1.2rem;
  margin-top: 2rem;
  position: relative;
  z-index: 1;
  border: none;
}

.blue-rec-text {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02556rem;
  position: relative;
  z-index: 1;
}

#valid-square {
  position: relative;
  z-index: 20;
  width: 28.25rem;
  height: 25.6875rem;
  flex-shrink: 0;
  border-radius: 1.1875rem;
  background: rgba(255, 255, 255, 0.70);
  opacity: 1;
}

.valid-code-square {
  width: 2.58544rem;
  height: 3.57344rem;
  flex-shrink: 0;
  border-radius: 0.46863rem;
  border: 1.406px solid #B6B6B8;
}

#auth-text1 {
  color: var(--Primary-Blue, #003049);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Poppins;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1.2rem;
}

.auth-text2 {
  color: #8F9CA3;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container {
  display: flex;
}

.valid-code-square {
  width: 2.58544rem;
  height: 3.57344rem;
  flex-shrink: 0;
  border-radius: 0.46863rem;
  border: 1.406px solid #B6B6B8;
  margin-right: 0.625rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.acount-text {
  color: var(--Primary-Blue, #003049);
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  z-index: 1;
}

.acount-text.balance {
  font-size: 2.14075rem;
}

.acount-text.general1 {
  font-size: 1.033rem;
}

.acount-text.general2 {
  font-size: 1.21213rem;
  text-edge: cap;
  margin: 4rem;
}

.transaction-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.transaction-item {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.date-text {
  color: #939393;
  leading-trim: both;
  text-edge: cap;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.69288rem;
}

.popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

.popup-modal-close {
  margin-top: 10px;
  background-color: #0360F0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-modal-close:hover {
  background-color: #0047ab;
}

#logout-text {
  color: var(--Primary-Blue, #003049);
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
}